.loja_container {
    width: 500px;
}

.loja {
    
    margin: 0 3em;
    display: flex;
    flex-direction: column;
   
    padding: 2em;
}

.item-loja {
    background-color: #69433c;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-comprar {
    width: fit-content;
    padding: 0.5em;
    font-size: 1.5em;

    height: fit-content;
}


.div-comprar-btn:hover {
    cursor: pointer;
    width: fit-content;
}