body {
    font-family: 'Pixelify Sans';
}

.info {
    padding: 1em;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.info h1 {
    background-color: #452a26;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 0.5em;
}

.info-class {
    
    color: #301e1b;
    font-weight: 900;
    padding-left: 1em;
}

.info-class h2 {
    font-size: 1.6em;
}

.info-content {
    margin: 2em 0;
    background-color: #452a26;
   
    color: white;
    padding: 2em 1em;
    width: fit-content;
    display: flex;
    gap: 1.5em;
}
